<div class="card" style="width: 19rem; text-align: center;">
  <div class="card-body">
    <h5 class="card-title"><%= @friend.first_name + " " + @friend.last_name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @friend.twitter %></h6>
    <p class="card-text">Email: <%= @friend.email %> <br> Phone: <%= @friend.phone %> </p>
    <%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-secondary" %>
    <%= link_to 'Back', friends_path, class: "btn btn-dark" %>
  </div>
</div>